<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <script 
     src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
     integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
     crossorigin="anonymous">
    </script>
</head>
<body class="font-sans bg-primary">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="p-4">
                {% for category, message in messages %}
                    <div class="mb-2 rounded px-4 py-2 bg-gray-200 text-gray-800">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="content">{% block content %} {% endblock %}</div>
</body>
</html>
