{% extends 'base.html' %}
{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <form method="post" class="bg-white p-6 rounded shadow-md space-y-4">
        <div class="flex justify-around space-x-2">
            <h3 class="text-xl font-semibold">Chat</h3>
            <button type="submit" class="rounded-md bg-blue-500 py-2 px-4 border text-white  focus:border-indigo-500">
                <a href="/logout">Logout</a>
            </button>
        </div>
        <div>
            <label class="block text-sm font-medium text-gray-700">Your Name</label>
            <input
              type="text"
              placeholder="Pick a name!"
              name="name"
              value="{{name}}"
              class="mt-1 block w-full border-gray-300 p-2 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
        </div>
        <div class="flex space-x-2">
            <input type="text" placeholder="Room Code" name="code" value="{{code}}"
                   class="mt-1 block w-full border-gray-300 p-2 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
            <button type="submit" name="action" value="join" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md">Join Room</button>
        </div>
        <button type="submit" name="action" value="create" class="w-full bg-green-500 text-white py-2 px-4 rounded-md">Create Room</button>
        {% if error %}
        <ul class="mt-4 text-red-600">
            <li>{{error}}</li>
        </ul>
        {% endif %}
    </form>
</div>
{% endblock %}
